<div class="absolute mt-5 ml-5">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div role="alert" class="alert alert-{{ type }}">
                <i class="fa-regular fa-circle-question"></i>
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
