@import '~@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  display: none;
}

.alert-success {
    border-color: var(--fallback-su,oklch(var(--su)/0.2));
    --tw-text-opacity: 1;
    color: var(--fallback-suc,oklch(var(--suc)/var(--tw-text-opacity)));
    --alert-bg: var(--fallback-su,oklch(var(--su)/1));
    --alert-bg-mix: var(--fallback-b1,oklch(var(--b1)/1))
}
