<div class="absolute top-5 right-5 flex items-center">
    <p class="mr-2">Panic stop all tasks : </p>
    <div class="btn btn-accent">
        <label class="swap w-full">
            <input type="checkbox" />
            <div class="swap-on">ON</div>
            <div class="swap-off">OFF</div>
        </label>
    </div>
</div>
