<!DOCTYPE html>
<html data-theme="dark" lang="en" class="bg-base-200">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome to instabot!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/icons/instabot.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'ui/notification/flash-messages.html.twig' %}
        {% include 'ui/nav/navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
