{% set userIconClass = app.user ? 'fa-solid' : 'fa-regular' %}

<div class="btm-nav">
    <a href="{{ path('app_index') }}" class="text-primary active">
        <i class="fa-solid fa-house"></i>
    </a>
    {% if app.user and app.user.isVerified is same as true %}
        <a href="#" class="text-primary">
            <i class="fa-solid fa-gears"></i>
        </a>
    {% endif %}
    <a href="{{ path(app.user ? 'app_logout' : 'app_login') }}" class="text-primary">
        <i class="{{ userIconClass }} fa-user"></i>
    </a>
</div>
